[buildout]
extensions = mr.developer buildout.dumppickedversions
unzip = true
parts = 
    instance
    omelette
    zopepy
    test
    roadrunner

dump-picked-versions-file = versions.plone3.cfg
overwrite-picked-versions-file = True

extends =
    http://dist.plone.org/release/3.3.4/versions.cfg
    http://good-py.appspot.com/release/plone.app.discussion/1.0b4
versions = versions
sources = sources

develop =
    .

auto-checkout =
    plone.formwidget.captcha
    plone.formwidget.recaptcha
    collective.autoresizetextarea

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = ZODB3
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    plone.reload
    Products.PdbDebugMode
    plone.app.discussion
    plone.formwidget.captcha
    plone.formwidget.recaptcha
    collective.autoresizetextarea

zcml =
    plone.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = collective.xmltestreport
eggs = plone.app.discussion
# other eggs in this list not shown
extra-paths = ${zope2:location}/lib/python
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[roadrunner]
recipe = roadrunner:plone
zope2-instance = instance
packages-under-test = plone.app.discussion

[sources]
plone.formwidget.captcha = svn https://svn.plone.org/svn/plone/plone.formwidget.captcha/trunk
plone.formwidget.recaptcha = svn https://svn.plone.org/svn/plone/plone.formwidget.recaptcha/trunk
collective.autoresizetextarea = svn https://svn.plone.org/svn/collective/collective.autoresizetextarea/trunk
