[versions]
Products.PDBDebugMode = 1.1
collective.recipe.omelette = 0.9
collective.xmltestreport = 1.0b2
mr.developer = 1.12
plone.reload = 1.3
recaptcha-client = 1.0.5
roadrunner = 0.2.3.1
zc.recipe.testrunner = 1.2.0
zope.i18n = 3.7.2
zope.proxy = 3.5.0

#Required by:
#plone.formwidget.captcha 1.0a3
skimpyGimpy = 1.4
