[buildout]
extensions = mr.developer buildout.dumppickedversions
unzip = true
parts = instance omelette zopepy
extends = 
    http://dist.plone.org/release/3.3rc2/versions.cfg
    http://good-py.appspot.com/release/plone.app.discussion/1.0a1
versions = versions
sources = sources

auto-checkout =
    plone.app.discussion

[versions]
zc.buildout = 1.2.1

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = ZODB3
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    plone.reload
    Products.PdbDebugMode
    plone.app.discussion
    
zcml =
    plone.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[sources]
plone.app.discussion = svn https://svn.plone.org/svn/plone/plone.app.discussion/trunk
