[buildout]
extensions = mr.developer buildout.dumppickedversions
unzip = true
parts = instance omelette zopepy roadrunner
extends =
    http://dist.plone.org/release/3.3/versions.cfg
    http://good-py.appspot.com/release/plone.app.discussion/1.0a2
versions = versions
sources = sources

develop =
    src/discussion.examplecontent
    src/plone.formwidget.captcha
    src/collective.autoresizetextarea

auto-checkout =
    plone.app.discussion
    plone.formwidget.captcha
    collective.autoresizetextarea

[versions]
zc.buildout = 1.2.1

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = ZODB3
url = ${versions:zope2-url}

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    plone.reload
    Products.PdbDebugMode
    discussion.examplecontent
    plone.app.discussion
    plone.formwidget.captcha
    plone.formwidget.recaptcha
    collective.autoresizetextarea
    collective.autopermission

zcml =
    discussion.examplecontent
    plone.formwidget.captcha
    plone.formwidget.recaptcha
    collective.autoresizetextarea
    plone.reload

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
packages = ${zope2:location}/lib/python ./

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[roadrunner]
recipe = roadrunner:plone
zope2-instance = instance
packages-under-test = plone.app.discussion

[sources]
plone.app.discussion = svn https://svn.plone.org/svn/plone/plone.app.discussion/trunk
plone.formwidget.captcha = svn https://svn.plone.org/svn/plone/plone.formwidget.captcha/trunk
plone.formwidget.recaptcha = svn https://svn.plone.org/svn/plone/plone.formwidget.recaptcha/trunk
collective.autoresizetextarea = svn https://svn.plone.org/svn/collective/collective.autoresizetextarea/trunk
