[buildout]
parts =
    productdistros
    instance
    zopepy
    omelette
    test
    coverage-test
    coverage-report
    
extensions = 
    buildout.dumppickedversions
    buildout.eggtractor

dump-picked-versions-file = versions.cfg
overwrite-picked-versions-file = True

tractor-src-directory = src
packages-under-test = plone.app.discussion

# Change the number here to change the version of Plone being used
extends = 
    http://download.zope.org/Zope2/index/2.12.1/versions.cfg
    http://dist.plone.org/release/4.0a2/versions.cfg
versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0a2
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    Products.PdbDebugMode
    plone.reload

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[versions]
plone.theme = 1.2
plone.app.z3cform = 0.4.6
plone.z3cform = 0.5.5

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
#debug-mode = on
#verbose-security = on
blob-storage = var/blobstorage
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Zope2
    Plone
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

products =
    ${buildout:directory}/products
    ${productdistros:location}

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products = ${instance:products}
packages = ${instance:location}/lib/python ./

[test]
recipe = zc.recipe.testrunner
eggs = 
    plone.app.discussion
defaults = ['-v', '--exit-with-status', '--auto-color', '--auto-progress']

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage', '-v', '--auto-progress']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'report')

