/* plone.app.discussion stylesheet */


/* Comments Viewlet
   ---------------------------------------------------------------- */

.commentImage {
}

.commentImage img {
	width: 50px;
}

/* Forms
   ---------------------------------------------------------------- */

.reply-to-comment-button {
	float: right;
	margin-top: -2.5em;
}

.reply-to-comment-button {
   /* Hide the reply-to-comment button and show it only if Javascript is enabled.
    * Since the reply functions rely on jQuery.
    */
	display: none;
}
