/* plone.app.discussion stylesheet */

.hide {
    display: none;
}


/* Comments Viewlet
   ---------------------------------------------------------------- */
.discussion,
#commenting {
	/* Clear "float: left" from "manage portlets" div above the
	   comment viewlet. This will get fixed in the next Plone 4 
	   release. */
	clear: both;
}

.comment {
	min-height: 100px;
	overflow: auto;
}

.commentImage {
	width: 90px;
	float: left;
	margin-right: -90px;
}

.commentImage a:link {
	/* Override the default bottom border of links in Plone 4. */
	border: 0px;	
}

.commentImage img {
	margin-right: 1em;
}

.commentBody {
	margin: 1em 0;
}

.showCommenterImage h3,
.showCommenterImage .documentByLine,
.showCommenterImage .commentBody,
.showCommenterImage .commentActions,
.showCommenterImage .reply {
	/* The showCommenterImage CSS class is only set if showing the
	 * commenters image is enabled.
	 */
    margin-left: 90px;
}


/* Reply Form
   ---------------------------------------------------------------- */

.reply fieldset {
	/* Fix bouncing fieldset when reply form is shown. */
	margin: 0 !important;
}

.reply-to-comment-button {
   /* Hide the reply-to-comment button and show it only if Javascript
    * is enabled. Since the reply functions rely on jQuery.
    */
	display: none;
}

.cancelreplytocomment {
	/* Hide the cancel button in the comment form, show it only in the reply form
	 * in order to close it.
	 */
	display: none;
}


/* Moderation View
   ---------------------------------------------------------------- */

ul.filter {
	margin-top: 2em;
}

.filter form {
	display:inline-block;
	width: 75px;
}

.filter input {
	width: 80px;
}

.filter input.selected,
.filter input:hover {
	background: #DEE7EC;
}

.filter .firstFormTab input {
    border-left: 1px solid #8CACBB;
}

.filter .lastFormTab input {
    border-right: 1px solid #8CACBB;
}

.filter input {
	background: White;
    border-bottom: 1px solid #8CACBB;
    border-left: 1px dotted #8CACBB;
    border-top: 1px solid #8CACBB;
    margin: 0;
    padding: 0.125em 0.75em;
    text-decoration: none;
}

#bulkactions {
	text-align: left;
}

#dobulkaction {
	margin: 0.3em 0;
}

.comment-publish-button {
    float: left;
}

.comment-delete-button {
    float: right;
}

#review-comments {
	margin: 0;
}

#fieldset-moderate-comments {
	padding: 2em 1em;
}


/* Plone 4 Styles
   ---------------------------------------------------------------- */

/* These styles are only applied for Plone 4, since Plone 3.x does 
    not have a .row class for portal-column-content. */

.row #commenting {
	font-size: 80%;
}

.row textarea {
    font: 100% Monaco, "Courier New", Courier, monospace;
    width: 100%;
}
.row fieldset {
    border: 0.1em solid #329fd7;
    border-style: solid none none none;
}
.row legend {
    padding: 0.5em 0.5em 0.5em 0;
    font-size: 85%;
}
.row label {
    font-weight:bold;
}
